modules/extension/app-schema/app-schema/src/test/resources/test-data/stations.xsd

<?xml version="1.0"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.stations.org/1.0" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:st="http://www.stations.org/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <complexType name="Station">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string"/>
          <element name="location" type="st:Location"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Location">
    <sequence>
      <element name="name" type="string"/>
      <element name="position" type="gml:GeometryPropertyType"/>
    </sequence>
  </complexType>
  <element name="Station" substitutionGroup="gml:AbstractFeature" type="st:Station"/>
</schema>